@import './initial/reset';
@import './initial/functions';
@import './initial/variables';
@import './initial/global';

// components
@import "components/text";
@import "components/button";
@import "components/popup";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap');


// layouts
@import "layouts/header";
@import "layouts/footer";

// pages
@import "pages/general";
@import "pages/services";
@import "pages/what-makes-us-different";
@import "pages/brands-impact";
@import "pages/ready-to-start";
@import "pages/nosotros";
@import "pages/contacto";
@import "pages/terminos";
@import "pages/metodologia";